body {
  margin: 0;
  padding: 0; }

body {
  background: black;
  font-family: Roboto, sans-serif;
  color: #b4b4b4; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 40px 10px 10px 10px; }
  .app .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px; }
    .app .header .page_title {
      color: #b4b4b4;
      font-weight: normal;
      font-size: 1.5rem;
      margin: 0 0 0 20px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .menu .menu_item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 2rem;
    height: 2rem;
    margin-left: 2px;
    color: #b4b4b4;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; }
    .menu .menu_item > span {
      font-size: 1.5rem; }
    .menu .menu_item::before {
      content: "";
      width: 100%;
      height: 100%;
      background: #900000;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0; }
    .menu .menu_item:hover, .menu .menu_item:focus {
      color: white; }
      .menu .menu_item:hover::before, .menu .menu_item:focus::before {
        height: 3px;
        opacity: 1;
        -webkit-transition: opacity .5s, height .15s .1s;
        -o-transition: opacity .5s, height .15s .1s;
        transition: opacity .5s, height .15s .1s; }

.section-one {
  margin-top: 5px;
  margin-bottom: 10px; }
  .section-one .section-one-wrapper {
    position: relative;
    border: transparent 1px solid; }
    .section-one .section-one-wrapper .section-one-title {
      background: #801300;
      font-size: .8rem;
      color: #e6e6e6;
      height: 20px;
      border: 1px solid #881400;
      border-radius: 2px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      z-index: 1; }
    .section-one .section-one-wrapper .section-one-content {
      position: relative;
      background: #141414;
      border: solid 1px #1a1a1a;
      border-radius: 2px 2px 2px 2px;
      margin-top: 12px;
      font-size: .8rem;
      padding: 30px 20px 20px 20px; }
    .section-one .section-one-wrapper .section-one-footer {
      position: relative;
      bottom: 2px;
      left: 0;
      padding: 10px 20px;
      background: #1a1a1a;
      border-radius: 0 0 2px 2px; }

.task {
  margin: 0 0 -1px 0;
  padding: 5px 20px;
  background: #141414;
  border-top: solid 1px #1a1a1a;
  border-bottom: solid 1px #1a1a1a;
  border-radius: none;
  color: #b4b4b4;
  position: relative;
  -webkit-transition: background 1s, color 1s;
  -o-transition: background 1s, color 1s;
  transition: background 1s, color 1s; }
  .task .task_root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .task .task_root .task_title {
      font-size: 0.8rem;
      color: #b4b4b4; }
    .task .task_root .task_descriptions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      font-size: 0.7rem;
      color: #797979;
      margin-top: 0.3rem; }
      .task .task_root .task_descriptions .task_date .ring {
        font-size: 0.75rem;
        padding: 0px;
        margin: -2px 3px 0px 0px; }
      .task .task_root .task_descriptions .task_date .separator {
        margin: 1px 10px 2px 10px;
        color: #464646; }
  .task:hover {
    background: #1e1e1e;
    border-top: solid 1px #242424;
    border-bottom: solid 1px #242424; }
    .task:hover .task_root .task_title {
      color: #bebebe; }
    .task:hover .task_root .task_descriptions {
      color: #838383; }

.task_section .task_section_wrapper {
  position: relative;
  border: transparent 1px solid; }
  .task_section .task_section_wrapper .task_section_title {
    background: #505050;
    font-size: 0.8rem;
    color: #c8c8c8;
    height: 20px;
    border: 1px solid #555555;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px -5px 11px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -5px 11px 1px rgba(0, 0, 0, 0.75);
    -webkit-transition: color 1s, background 1s, border 1s;
    -o-transition: color 1s, background 1s, border 1s;
    transition: color 1s, background 1s, border 1s; }
    .task_section .task_section_wrapper .task_section_title > span {
      position: relative; }
    .task_section .task_section_wrapper .task_section_title > span > b {
      position: absolute;
      bottom: 3px;
      right: -24px;
      width: 20px;
      font-size: 0.65rem; }
    .task_section .task_section_wrapper .task_section_title:hover {
      color: white;
      background: #737373;
      border: 1px solid #787878; }
  .task_section .task_section_wrapper .task_section_content {
    position: relative;
    background: #141414;
    border: solid 1px #1a1a1a;
    border-radius: 2px 2px 2px 2px;
    margin-top: 12px;
    font-size: 0.8rem;
    padding: 15px 0px 0px 0px;
    -webkit-box-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.5); }
  .task_section .task_section_wrapper .task_section_footer {
    position: relative;
    bottom: 2px;
    left: 0;
    padding: 10px 20px;
    background: #1a1a1a;
    border-radius: 0 0 2px 2px; }

.task_section.iau .task_section_wrapper {
  margin-bottom: -15px; }
  .task_section.iau .task_section_wrapper .task_section_title {
    background: #7d1400;
    border: 1px solid #871400; }
    .task_section.iau .task_section_wrapper .task_section_title:hover {
      background: #af1900;
      border: 1px solid #b91901; }
  .task_section.iau .task_section_wrapper .task_section_content {
    border-bottom: none;
    border-radius: 2px 2px 0px 0px; }

.task_section.ianu .task_section_wrapper {
  margin-bottom: -15px; }
  .task_section.ianu .task_section_wrapper .task_section_title {
    background: #a07a00;
    border: 1px solid #967a00; }
    .task_section.ianu .task_section_wrapper .task_section_title:hover {
      background: #c89a00;
      border: 1px solid #be9a00; }
  .task_section.ianu .task_section_wrapper .task_section_content {
    border-bottom: none;
    border-radius: 2px 2px 0px 0px; }

.task_section.uani .task_section_wrapper {
  margin-bottom: -15px; }
  .task_section.uani .task_section_wrapper .task_section_title {
    background: #237d00;
    border: 1px solid #268600; }
    .task_section.uani .task_section_wrapper .task_section_title:hover {
      background: #2e9b00;
      border: 1px solid #31a300; }
  .task_section.uani .task_section_wrapper .task_section_content {
    border-bottom: none;
    border-radius: 2px 2px 0px 0px; }

.task_section.nuani .task_section_wrapper .task_section_title {
  background: #005a7d;
  border: 1px solid #006086; }
  .task_section.nuani .task_section_wrapper .task_section_title:hover {
    background: #0072a0;
    border: 1px solid #0079a8; }

.task_section.nuani .task_section_wrapper .task_section_content {
  border-radius: 2px 2px 0px 0px; }

/*# sourceMappingURL=styles.css.map */
