$general_padding: 40px 10px 0px 10px;

$title_color_selected: rgb(255, 255, 255);
$title_color_active: rgb(200, 200, 200);
$title_color_disabled: rgb(180, 180, 180);

$background-one: rgb(10, 10, 10);
$text-color-primary: rgb(180, 180, 180);
$text-color-secondary: rgb(230, 230, 230);
$page-title-color: rgb(200, 200, 200);

body {
  background: black;
  font-family: Roboto, sans-serif;
  color: $text-color-primary;
}

.app {
  display: flex;
  flex-direction: column;

  //   height: 100vh;
  padding: $general_padding;

  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;

    .page_title {
      color: $title_color_disabled;
      font-weight: normal;
      font-size: 1.5rem;
      margin: 0 0 0 20px;
    }
  }

  .content {
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
  }
}
