$background-one: rgb(10, 10, 10);
$text-color-primary: rgb(180, 180, 180);
$text-color-secondary: rgb(230, 230, 230);
$page-title-color: rgb(200, 200, 200);

$content-padding: 10px;

body {
    background: black;
    font-family: Roboto,  sans-serif;
    color: $text-color-primary;
}

.app {
    display: flex;
    flex-direction: row;

    height: 100vh;

    .menu {
        background: black;
        width: 3rem;
    }

    .content {
        background: black;
        width: calc(100% - 3rem);
        padding: $content-padding;

        .page-title {
            color: $page-title-color;
            font-weight: normal;
            font-size: 1.5rem;
        }
    }
}