$general_padding: 40px 10px 10px 10px;

$background-one: rgb(10, 10, 10);
$text-color-primary: rgb(180, 180, 180);
$text-color-secondary: rgb(230, 230, 230);
$page-title-color: rgb(200, 200, 200);


body {
  background: black;
  font-family: Roboto, sans-serif;
  color: $text-color-primary;
}

.app {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: $general_padding;

  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;

    .page-title {
      
      color: $page-title-color;
      font-weight: normal;
      font-size: 1.5rem;
      margin: 0;
    }

  }

  .content {
    background: black;
    // width: calc(100% - 3rem);
    // padding: $content-padding;
  }
}
