$task-background: rgb(20, 20, 20);
$task-border: solid 1px rgb(26, 26, 26);
$task-background-selected: rgb(30, 30, 30);
$task-border-selected: solid 1px rgb(36, 36, 36);

$actions-background: rgb(32, 32, 32);

$task-color-primary: rgb(180, 180, 180);
$task-color-secondary: rgb(121, 121, 121);
$task-color-primary-selected: rgb(190, 190, 190);
$task-color-secondary-selected: rgb(131, 131, 131);

.task {
  margin: 0 0 -1px 0;
  padding: 5px 20px;
  background: $task-background;
  border-top: $task-border;
  border-bottom: $task-border;
  border-radius: none;
  color: $task-color-primary;
  position: relative;

  .task_root {
    display: flex;
    flex-direction: column;

    .task_title {
      font-size: 0.8rem;
      color: $task-color-primary;
    }

    .task_descriptions {
      display: flex;
      flex-direction: row;
      font-size: 0.7rem;
      color: $task-color-secondary;
      margin-top: 0.3rem;

      .task_date {
        .ring {
          font-size: 0.75rem;
          padding: 0px;
          margin: -2px 3px 0px 0px;
        }
        .date {
        }
        .separator {
          margin: 1px 10px 2px 10px;
          color: rgb(70, 70, 70);
        }
      }
    }
  }

  &:hover {
    background: $task-background-selected;
    border-top: $task-border-selected;
    border-bottom: $task-border-selected;

    .task_root {
      .task_title {
        color: $task-color-primary-selected;
      }
      .task_descriptions {
        color: $task-color-secondary-selected;
      }
    }
  }

  transition: background 1s, color 1s;
}
